.cart_title_top{
    color: #000;
    cursor: pointer;
}

.cart_body{
    padding: 20px;
    border-radius: 10px;
    background-color: #eee;
}

.card_user_info{
    border: 1px solid #0d6efd;
    background-color: #f3f8fe;
}

.no-spinners {
    height: 28px;
    width: 40px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(231 234 238 / var(--tw-border-opacity));
    text-align: center;
    font-weight: bold;
    --tw-text-opacity: 1;
    color: rgb(16 24 40 / var(--tw-text-opacity));
}

.minus_button,
.plus_button{
    cursor: pointer;
    font-weight: bold;
}

.minus_button:hover,
.plus_button:hover{
    background-color: #ededed;
}

.btn_book_cart{
    margin: 40px 0 0 0;
    width: 100%;
    background: #fc7600;
    border-radius: 6px;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
}

.iconcart-empty{
    display: inline-block;
    height: 270px;
    width: 432px;
    background-image: url(//cdn.tgdd.vn/mwgcart/v2/vue-pro/img/empty-cart.22a86c7….png);
    background-size: 432px 270px;
    background-repeat: no-repeat;
    vertical-align: middle;
    line-height: 2rem;
}

.cart-empty h1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.cart-empty span {
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(152 162 179 / var(--tw-text-opacity));
}


.btn-backhome {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: .5rem;
    border-width: 1px;
    border-style: solid;
    border-color: #2a83e9;
    background-color: #2a83e9;
    padding: .625rem;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.btn-backhome:hover {
    background-color: transparent;
    color: #2a83e9;
}